body{
    background-color: rgb(53 ,53 ,53 );
    color:whitesmoke;
}
header {
    font-size: 72px;
    font-family: "tangerine";
    
}
h3 {
    font-size: 26px;
    font-family: "Unica One";
    
}

div{
    text-align: center;
}